.song-image{
    height:200px;
    width: 200px;
}

.music-player-conatiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.progress-bar{
    height:15px;
    width:50%;
    background-color: rgb(22, 113, 113);
    padding-left: 2px;
    border-radius: 10px;
}
.progress{
    height: inherit;
    /* width: 20%; */
    background-color: red;
    border-radius: inherit;
}
.control-buttons{
    display: flex;
    gap: 20px;

}
.control-buttons button{
    background-color: rgb(111, 111, 249);
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
    padding: 10px;
    border-radius: 5px;

}
