.avatar{
    height:200px;
    width:200px;
    border-radius: 50%;
}

.user{
    /* margin: 50px;     */
    border: 2px solid black;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}
.name-conatiner{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.github-profile-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.profile-info div{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
    font-weight: bold;
}